<div class="container">
     <button mat-raised-button routerLink="/gastos" routerLinkActive="active">Voltar</button>

    <h1 class="titulo">Gastos Lâmpadas</h1>
    <div class="cartao">
        <p>Sala</p>
        <p>Lâmpada 1</p>
        <p>gasto em kw</p>
        <mat-progress-bar mode="determinate" value="40"></mat-progress-bar>
    </div>
    <div class="cartao">
        <p>Quarto</p>
        <p>Lâmpada 1</p>
        <p>gasto em kw</p>
        <mat-progress-bar mode="determinate" value="50"></mat-progress-bar>
    </div>
    <div class="cartao">
        <p>Banheiro</p>
        <p>Lâmpada 1</p>
        <p>gasto em kw</p>
        <mat-progress-bar mode="determinate" value="20"></mat-progress-bar>
    </div>
</div>