.container {
	background-color: #C9DFB5;
	width: 750px;
	height: 1334px;
    opacity: 80%;
    color: #fff;
}
button {
    color: #ffffff;
    background-color: #478BC9;
}
.titulo {
    font-size: 40px;
    text-align: center;
    color: #AEDCFB;
    text-shadow: 2px 2px #478BC9;
    margin-bottom: 10px;
}
::ng-deep .mat-progress-bar-fill::after {
    background-color: #478BC9;
}

::ng-deep .mat-progress-bar-buffer {
    background: #E4E8EB;
}
.cartao{
    margin:10px;
    padding:10px;
    //outline: 2px solid #72C79A;
    background-color: #72C79A;
    border-radius: 10px;

}
.titulo_secao{
    font-size: 30px;
    margin-left: 20px;
}
