<div class="container">
     <button mat-raised-button routerLink="/gastos" routerLinkActive="active">Voltar</button>

    <h1 class="titulo">Gastos Lâmpadas</h1>
    <p class="titulo_secao">Sala</p>
    <div class="cartao">
        <p>Lâmpada 1</p>
            <p>Consumo médio mensal: 2,2 Kwh</p>
        <mat-progress-bar mode="determinate" value="40"></mat-progress-bar>
    </div>
    <p class="titulo_secao">Quarto</p>
    <div class="cartao">
        <p>Lâmpada 1</p>
            <p>Consumo médio mensal: 2,5 Kwh</p>
        <mat-progress-bar mode="determinate" value="50"></mat-progress-bar>
    </div>
    <p class="titulo_secao">Banheiro</p>
    <div class="cartao">
        <p>Lâmpada 1</p>
            <p>Consumo médio mensal: 2,3 Kwh</p>
        <mat-progress-bar mode="determinate" value="20"></mat-progress-bar>
    </div>
</div>