
.componente {
    margin-top: 50px;
    width: 750px;
    height: 1334px;
    background-color: #478BC9;
    button {
        color: #ffffff;
        background-color: #478BC9;
        position: absolute;
        right: 30px;
        margin: 10;
    }
}