<div class='inicio'>
<mat-grid-list cols="12" rowHeight="100px">
  <mat-grid-tile [colspan] = "12"
   [rowspan] = "3">
  	<h1 class="mat-display-1 titulo_inicial">Smart Power</h1>
	    </mat-grid-tile>
  <mat-grid-tile [colspan] = "12"
   [rowspan] = "2">
	<button mat-raised-button routerLink="/tomadas" routerLinkActive="active"><p class="titulo_botao">Controlar Tomadas</p></button>
  </mat-grid-tile>
  <mat-grid-tile [colspan] = "12"
   [rowspan] = "2">
	<button mat-raised-button routerLink="/lampadas" routerLinkActive="active"><p class="titulo_botao">Controlar Lâmpadas</p></button>
  </mat-grid-tile>
  <mat-grid-tile [colspan] = "12"
   [rowspan] = "2">
	<button mat-raised-button routerLink="/gastos" routerLinkActive="active"><p class="titulo_botao">Controlar Gastos</p></button>
  </mat-grid-tile>
</mat-grid-list>
</div>
